.admStat{
    display: flex;
    flex-direction: column;
    gap:25px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.statContainer{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap:45px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.headerStat{
    font-size: 48px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
}